@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Index", "Movies"))
{
    <h2>Movies</h2>
<button type="submit" class="btn btn-primary"><a href= "AddMovie">New Movie</a></button>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var c in Model)
        {
            string x = "Edit/" + @c.Id;
            <tr>
                <td><a href=@x> @c.Name</a></td>
                <td>@c.GenreType.Name</td>
            </tr>
            x = null;
        }
    </tbody>

</table>
}