@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customer</th>
            <th>MembershipType</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var c in Model)
        {
            string x = "Details/" + @c.id;
            <tr>
                <td><a href=@x> @c.Name</a></td>
                <td>@c.MembershipType.Name</td>
            </tr>
            x = null;
        }
    </tbody>

</table>
