@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<div>
    <button type="submit" class="btn btn-primary" >@Html.ActionLink("New Customer", "AddCustomer", "Customers")</button>
</div>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customer</th>
            <th>MembershipType</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var c in Model)
        {
            string x = "Edit/" + @c.Id;
            <tr>
                <td><a href=@x> @c.Name</a></td>
                <td>@c.MembershipType.Name</td>
            </tr>
            x = null;
        }
    </tbody>

</table>
